/* Carousel */
.carousel-item {
    max-height: 450px;
    background: #333;
}

.carousel-item img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height: 50vh;
}

/* Sidebar */
.details-list dt {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: .95em;
}

.detail-list dd {
    font-size: .9em;
}
