{% extends "base.html" %} 

{% block title %} PixaPets | {{ pet["name"] | capitalize }} {% endblock %} 

{% block content %}

<div class="container" style="background-color: rgba(252, 52, 101, 1); width: 100%;">
  <h1 class="my-5">{{ pet["name"] | capitalize }}</h1>
</div>

<div class="container">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      {% for i in range((pet["photos"]|length)) %}
      {% if i > 0 %}
      <div class="carousel-item">
      {% else %}
      <div class="carousel-item active">
      {% endif %}
        <img src="{{ pet['photos'][i]['large'] }}" class="d-block w-100" alt="...">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div>
    <dl>
      <dt>Characteristics</dt>
      <dd>
        {% for characteric in pet["tags"] %}
          {% if loop.index == pet["tags"] | length %}
            {{ characteric }}
          {% else %}
            {{ characteric }},
          {% endif %}
        {% endfor %}
      </dd>

      <dt>Coat</dt>
      <dd>{{ pet["coat"] }} Length, {{ pet["colors"]["primary"] }}</dd>

      <dt>Health</dt>
      <dd> 
        {% for condition, status in pet["attributes"].items() %}
          {% if status %}
            {% if loop.index == pet["attributes"] | length %}
              {{ condition | replace("_", " ") }}
            {% else %}
              {{ condition | replace("_", " ") }},
            {% endif %}
          {% endif %}
        {% endfor %}
      </dd>
    </dl>
  </div>

  <div>
    <h3>About {{ pet["name"] }}</h3>
    <p class="text-muted">{{ pet["breeds"]["primary"] }} | {{ pet["gender"] }} | {{ pet["age"] }}</p>
    <p>{{ pet["description"] }}</p>
    <h2>Read more about {{pet["name"]}} at: </h2>
  </div>

</div>


{% endblock %}