{% extends "base.html" %} 

{% block title %} PixaPets | Login {% endblock %} 

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center login-container">
  <div class="w-75">
    <h1 class="mb-5 text-center">Login</h1>
    
      <!-- Error messages -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}

      <!-- Login Form -->
      <form action="{{ url_for('login') }}" method="POST">
        {{ login.csrf_token }}
  
        {{ login.email(class="form-control mb-2 light-bg-form-fields") }}
        {{ login.email.label(class="mb-4") }}
  
        {{ login.password(class="form-control mb-2 light-bg-form-fields") }}
        {{ login.password.label(class="mb-4") }}
  
        <div class="text-center">
          {{ login.signin_bttn(class="rounded-pill active p-3 px-5 submit-button") }}
        </div>
        
      </form>
  </div>

</div>

{% endblock %}
