{% extends "base.html" %} 

{% block title %} {{ pet_type | capitalize }} {% endblock %} 

{% block stylesheets %}
<link href="../static/css/card.css" rel="stylesheet" />
{% endblock %} 


{% block content %}
<h1>{{ pet_type | capitalize }}</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for pet in pets %}
    <div class="col">
        <a href="/pets/{{ pet_type }}/{{ pet['id'] }}">
            <div class="card h-100">
                <div class="image-container">
                    {% if pet.primary_photo_cropped.medium  %} 
                        <img src="{{ pet.primary_photo_cropped.large }}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="" class="card-img-top" alt="...">
                    {% endif %} 
                </div>
                <div class="card-body">
                    <h2 class="card-title h4">{{ pet.name }}</h2>
                    <p class="card-subtitle mb-3">{{ pet.breeds.primary }}, {{ pet.age }}</p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
